.header {
    position: relative;
    background-color: #002f34;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.nav-logo img {
    width: 80px;
}
.nav-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-login img {
    width: 20px;
    height: 20px;
}
.nav-login button {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}
.nav-button button {
    color: #002f34;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}
